body { 
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    color: cornflowerblue;
    border:2px solid black;

}

.cube{
    position:absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(83, 83, 181);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    top:0;
    left:0;

}
button{
    margin-top:20px;
    padding:10px 20px;
    font-size:16px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}